.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
vendor/
composer.lock
gitpush.sh
pkg/
bin/
release/
cbuild
**/.DS_Store
.test/
main
core-tools
output/
manifest/output/
temp/
logs/
public/uploads/
gf
lock.json
*.sum
go.work
data/logs
other
node_modules/
*.zip
.DS_Store
.env

# 忽略 addons 目录下的所有内容
addons/*
dzhcore
/data

# 但不忽略这三个子目录及其内容
!addons/dict/
!addons/space/
!addons/task/
!addons/member/


frontend/dist/
frontend/node_modules/


docker/docker-data/
dzhgo-admin-vue
.codebuddy
.vscode
public/excel
